.custom-cursor-dot {
    position: fixed;
    top: 14px;
    left: 14px;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}

.custom-cursor-ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    z-index: 9998;
    pointer-events: none;
    transition: width 0.3s, height 0.3s, border-color 0.3s;
}

.custom-cursor-ring.hovering {
    border-color: #fff;
    border-width: 1px;
}

/* Esconder o cursor padrão em toda a aplicação */
html,
body,
a,
button {
    cursor: none !important;
}

/* Voltar o cursor padrão se for um dispositivo touch */
@media (hover: none) and (pointer: coarse) {

    .custom-cursor-dot,
    .custom-cursor-ring {
        display: none;
    }

    html,
    body,
    a,
    button {
        cursor: auto !important;
    }
}