.custom-cursor-container {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    /* Higher z-index to stay on top of everything */
}

.custom-cursor-dot-contrast {
    position: fixed;
    width: 12px;
    height: 12px;
    background-color: #fff;
    /* White base for contrast */
    border-radius: 50%;
    z-index: 100000;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    /* This makes it always visible (inverted colors) */
    pointer-events: none;
}

/* Esconder o cursor padrão globalmente */
.hide-default-cursor,
.hide-default-cursor * {
    cursor: none !important;
}

/* Voltar o cursor padrão se for um dispositivo touch */
@media (hover: none) and (pointer: coarse) {
    .custom-cursor-container {
        display: none;
    }

    html,
    body,
    * {
        cursor: auto !important;
    }
}