.custom-cursor-dot-difference {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    mix-blend-mode: difference;
    /* Funciona agora porque não há container */
    z-index: 9999999999;
    pointer-events: none;
    will-change: transform;
    transition: none;
    /* JS controla a suavização */
}

/* Esconde o cursor padrão em tudo */
html,
body,
a,
button,
* {
    cursor: none !important;
}

@media (hover: none) and (pointer: coarse) {
    .custom-cursor-dot-difference {
        display: none;
    }

    * {
        cursor: auto !important;
    }
}