.custom-cursor-container {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
}

.custom-cursor-dot-contrast {
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    /* Essential for mix-blend-mode: difference to work correctly */
    border-radius: 50%;
    mix-blend-mode: difference;
    pointer-events: none;
    will-change: transform;
}

/* Hide default cursor globally */
.hide-default-cursor,
.hide-default-cursor * {
    cursor: none !important;
}

/* Revert for touch devices */
@media (hover: none) and (pointer: coarse) {
    .custom-cursor-container {
        display: none;
    }

    html,
    body,
    * {
        cursor: auto !important;
    }
}